
@model Restaurant
@{
    ViewData["Title"] = "Admin | Update Resturant";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
    ViewData["CustomersActive"] = "";
    ViewData["RestaurantsActive"] = "active";

}




<form class="add-customer-form" asp-action="UpdateRestaurant" asp-controller="Admin">
    <h1 class="title">Update Resturant</h1>
    <div class="form-group">
        <label for="Name">Update Resturant Name:</label>
        <input type="text" name="Name" value="@Model.Name" class="form-control" placeholder="Update Resturant Name " required />
        <span class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="Description">Update Resturant Description:</label>
        <input type="text" name="Description" value="@Model.Description" class="form-control" placeholder="Update Resturant Description" required />
        <span class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="location">Update Resturant Location:</label>
        <input type="text" name="location" value="@Model.Location" class="form-control" placeholder="Update Resturant Location" required />
        <span class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="ImgName">Resturant Image Name:</label>
        <input type="text" name="ImgName" value="@Model.ImgName" class="form-control" placeholder="Update  Resturant Image Name" />
        <span class="text-danger"></span>
    </div>

    <div asp-validation-summary="All" class="text-danger alert-danger"></div>
    <button type="submit" class="btn btn-custom">Update</button>
</form>

